{% extends 'base.html' %}

{% block title %}Cadastrar Ativo{% endblock %}

{% block content %}
<div class="container is-fluid">
    <form class="box has-background-grey-lighter m-6" action="" method="post">
        {% csrf_token %}

        <p class="title m-2">Cadastrar Ativo</p>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li
                {% if 'error' in message.tags %} class="notification is-danger my-4"{% endif %}>
                {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Código:</label>
            </div>
            <div class="field-body">
                <div class="select" name="code">
                    <select id="id_code" name="code" onchange="show_price()">
                    {% for id, name in form.fields.code.choices %}
                        <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Valor atual:</label>
            </div>
            <div class="field-body">
                <h2 id="price" class="title is-3"></h2>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Limite inferior:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" name="lower_limit">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Limite superior</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" name="upper_limit">
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <p class="control">
                <input type="submit" class="button is-primary" value="Cadastrar">
            </p>
            <p class="control">
                <a class="button is-light" href="{% url 'view_list' %}">Cancelar</a>
            </p>
        </div>

        
    </form>
</div>

<script>
    function show_price() {
        var prices = {
            {% for price in prices %}
                '{{ price.asset.id }}': '{{ price.price }}',
            {% endfor %}
        };
        id = document.getElementById("id_code").value;
        if (prices.hasOwnProperty(id)) {
            value = parseFloat(prices[id].replace(',', '.')).toFixed(2).replace('.', ',');
            document.getElementById("price").textContent = "R$ " + value;
        } else {
            document.getElementById("price").textContent = "Desconhecido";
        } 
    }

    window.onload = show_price()
</script>


{% endblock content %}