{% extends 'base.html' %}

{% block title %}Editar Ativo{% endblock %}

{% block content %}
<div class="container is-fluid">
    <form class="box m-6" action="" method="post">
        {% csrf_token %}

        <p class="title m-2">Editar Ativo</p>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li
                {% if 'error' in message.tags %} class="notification is-danger my-4"{% endif %}>
                {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Código:</label>
            </div>
            <div class="field-body">
                <h2 class="title is-3">{{ asset.asset.code }}</h2>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Valor atual:</label>
            </div>
            <div class="field-body">
                <h2 class="title is-3">{{ asset.prices.0.price }}</h2>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Limite superior:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {% if asset.upper_limit %}
                            <input class="input" type="text" name="upper_limit" value="{{ asset.upper_limit }}">
                        {% else %}
                            <input class="input" type="text" name="upper_limit">
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Limite inferior:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {% if asset.lower_limit %}
                            <input class="input" type="text" name="lower_limit" value="{{ asset.lower_limit }}">
                        {% else %}
                            <input class="input" type="text" name="lower_limit">
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <input type="submit" value="Submit" class="button is-success">
        </button>

    </form>
</div>

{% endblock content %}