{% extends 'base.html' %}
{% load humanize %}
{% block title %}Lista de ações{% endblock %}

{% block content %}
<div> 
    <div class="is-flex is-justify-content-space-between">
        <h1 class="title is-2 p-4">Lista de ativos cadastrados</h1>
        <div class="px-3 pt-3 pb-6">
            <a class="button is-success is-large is-pulled-right" href="{% url 'register' %}">Cadastrar novo ativo</a>
        </div>
    </div>

    {% if messages %}
        <ul id="messages">
            {% for message in messages %}
            <div class="my-4 notification {% if message.tags == 'error' %}is-danger{% elif message.tags == 'success' %}is-success{% endif %}">
                <div class="delete is-medium" onclick="close_notification()"></div>
                {{ message }}
            </div>
            {% endfor %}
        </ul>
        <script>
            function close_notification() {
                var notification = document.getElementById('messages');
                notification.style.display = "none";
            }
        </script>
    {% endif %}

    <div class="assets-list">
    {% for asset in assets %}
        <div class="box m-3 p-5">
            <div class="columns content is-vcentered">
                <div class="column is-4">
                    <div class="columns">
                        <div class="column">
                            <h2>{{asset.asset.code}}</h2>
                        </div>
                        <div class="column">
                            <h3>{{asset.asset.name}}</h3>
                        </div>
                    </div>
                    {% if asset.asset.company_name %}
                    <p class="subtitle">{{asset.asset.company_name}}</p>
                    {% endif %}
                </div>
                
                <div class="column is-1">
                    <h3>Valor atual:<br>R$ {{asset.prices.0.price|floatformat:2|intcomma}}</h3>
                </div>

                <div class="column">
                    <canvas id="chart{{asset.id}}"></canvas>
                </div>

                <div class="column is-2">
                    {% if asset.upper_limit %}
                        <p>Limite superior: R$ {{asset.upper_limit|floatformat:2|intcomma}}</p>
                    {% endif %}
                    {% if asset.lower_limit %}
                        <p>Limite inferior: R$ {{asset.lower_limit|floatformat:2|intcomma}}</p>
                    {% endif %}
                </div>
                <div class="column is-1">
                    <a class="button" href="{% url 'update' id=asset.id %}">Editar</a>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>   
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
function create_axis(id, label, dates, prices) {       
    var ctx = document.getElementById("chart"+id).getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates.reverse(),
            datasets: [{
                label: label,
                data: prices.reverse(),
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            }]
        },
        options: {
        }
    });
}
</script>
<script>
{% load l10n %}

{% for asset in assets %}
    var dates = [
        {% for price in asset.prices %}
            "{{price.created_at}}", 
        {% endfor %}
    ];
    var prices = [
        {% for price in asset.prices %}
            {{ price.price|unlocalize }},
        {% endfor %}
    ];
   
    create_axis({{asset.id}}, "{{asset.asset.code}}", dates, prices);
{% endfor %}

</script>



{% endblock content %}