{% extends 'base.html' %}

{% block title %}Lista de ações{% endblock %}

{% block content %}
<div class="box"> 

    <h1 class="title is-2">Lista de ações</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="assets-list">
    {% for asset in assets %}
        <div class="button ">
            <a href="{% url 'update' id=asset.id %}"> {{store.name}} </a>
        </div>
    {% endfor %}
    </div>

</div>

<div class="m-6"> 
    <div class="button is-success is-pulled-right">
        <a href="{% url 'register' %}"> Registrar Novo </a>
    </div>
</div>

{% endblock content %}